body {
    background: #043d6f;
}
h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    padding-top: 12px;
}
h1 {
    font-size: 5vh; 
    font-weight: bold;
}
h2 {
    font-size: 4vh;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vh;
    font-weight: lighter;
    color: white;
    text-rendering: optimizeLegibility;
    text-align: justify;
    padding-bottom: 12px;
    padding-top: 6px;
}
.header {
    overflow: hidden;
    background: white;
    padding: 10px 5px;
    animation-name: fadeIn;
    animation-duration: 1s;
    box-shadow: 2px 2px 5px #04345f;
}
.header a {
    font-family: 'Roboto', sans-serif;
    float: left;
    color: #032d50;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 2vh;
    line-height: 25px;
    border-radius: 4px;
}
.header a.logo {
    font-size: 2.5vh;
    text-decoration: none;
}
div.w3-content {
    overflow: hidden;
    padding-top: 0px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    opacity: 1;
    animation-name: fadeInMoveUp;
    animation-duration: 1s;
}
div.worTorial {
    background: #1a4e7c;
    padding-left: 36px;
    padding-right: 36px;
    box-shadow: 2px 2px 5px #04345f;
}
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@keyframes fadeInMoveUp {
    from {
        opacity: 0;
        padding-top: 72px
    }
    to {
        opacity: 1;
        padding: auto
    }
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #043d6f;
    text-align: left;
}
.header-right {
    float: right;
}
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    font-size: 2.5vh;
}
a.blueButton {
    background-color: #043d6f;
    box-shadow: 1px 1px 5px #1a4e7c;
    color: white;
}
a.whiteButton {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(216, 216, 216);
    color: #032d50;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 2vh;
    line-height: 25px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #1a4e7c;
}