body {
    background: #043d6f
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6vh; 
    font-weight: bold;
    color: white;
}
p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5vh;
    color: white;
    text-rendering: optimizeLegibility;
    text-align: justify;
}
.header {
    overflow: hidden;
    background: white;
    padding: 20px 10px;
}
.header a {
    font-family: 'Roboto', sans-serif;
    float: left;
    color: #043d6f;
    text-align: center;
    padding: 12px;
    text-decoration: none;
/*    font-size: 20px; */
    line-height: 25px;
    border-radius: 4px;
}
.header a.logo {
    font-weight: bold;
    font-size: 24px;
}
div.w3-content {
    padding: 36px;
}
@media only screen and (max-width: 320px) {
    p { 
       font-size: 3vw; 
    }
}